/* 
    Created on : 14/08/2021, 07:38:08 PM
    Author     : benito
*/
body,h1,h2,h3,h4,h5 {
    font-family: "Raleway", sans-serif
}
.m-rl-0{
    margin-right: 0px;
    margin-left: 0px;
}
.w3-bar,h1,button {
    font-family: "Montserrat", sans-serif;
}
.fa-anchor,.fa-coffee {
    font-size:200px;
}
